p{
    background-color: rgb(39, 228, 165);
}

a {
    background-color: rgb(224, 153, 46);
}
div{
    background-color: rgb(210, 184, 152);
}
span{
    background-color: rgb(151, 125, 85);
}